/*
Name: 
Date: 
*/

.container{ /*DO NOT REMOVE OR EDIT*/
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "side1 section1 section1"
    "section2 videoSection side2"
    "references references references"
    "footer footer footer";
}

.header{ /*DO NOT REMOVE*/
    grid-area: header;
    text-align: center;
    Background-color:#5c4d7d;
}


.side1{ /*DO NOT REMOVE*/
    grid-area: side1;
    text-align:left;
    background-color:#1780a1;
}

.side2{ /*DO NOT REMOVE*/
    grid-area: side2;
    text-align: middle;
    background-color:#1780a1;
}

.section1{ /*DO NOT REMOVE*/
    grid-area: section1;
    text-align: middle;
    Background-color:#1780a1;
}

.section2{ /*DO NOT REMOVE*/
    grid-area: section2;
    text-align: left;
    Background-color:#1780a1;   
}

.videoSection{ /*DO NOT REMOVE*/
   grid-area: videoSection;
   text-align:center;
   background-color:#b7094c;
}

.references{
   grid-area: references;
   text-align:center;
   background-color:#b7094c;
}

.footer{ /*DO NOT REMOVE*/
   grid-area: footer;
   text-align:center;
   background-color:#892b64;
}

img{
  width: 100%;
}